body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.sidebar {
  flex-basis: 50rem;
  background-color: #2d3439;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 10rem;
  align-self: center;
  margin-bottom: 4rem;
}

#map {
  flex: 1;
  height: 100%;
  background-color: #aaa;
}
